@import '~normalize.css';

/*
 * Mplus 1p (Japanese) https://fonts.google.com/earlyaccess
 */
@font-face {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.eot);
  src: url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.eot?#iefix) format('embedded-opentype'),
  url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.woff) format('woff'),
  url(//fonts.gstatic.com/ea/mplus1p/v1/Mplus1p-Thin.ttf) format('truetype');
}

html {
  font-family: 'Mplus 1p', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Yu Gothic', YuGothic, Verdana, Meiryo, sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

body {
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
